# code by k4itrun
# Author   : k4itrun
# Github   : https://github.com/k4itrun
# Email    : k4itrun@6889.fun
# Messenger: https//m.me/k4itrun
# Date     : 5-10-2023

# Personal directories I can ignore this

/dirsiteprivates
/dirrarprivates
/dirsteal
/python
/javascript
/phppreview
/rubyindex
/sass
/trydir